<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>PECSHOT</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>


  <%- body %>

  <footer>
  © 2025 PECSHOT
</footer>

</body>
</html>
